<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <section class="container">
            <h1><%=title %></h1>
        <div class="row">
            <% userList.forEach(function(user){ %>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= user.name %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
</body>
</html>
